.phil-highlight {
position: relative;
background: rgba(255, 102, 0, 0.4);
}

.phil-extension {
opacity: 0;
font-size: 0.8em;
transition: 0.25s opacity;
position: absolute;
top: 0;
left: 105%;
width: 20em;
display: block;
background: red;
height: auto;
background: none;
border: 1px solid #ccc;
background: white;
border-radius: 0.5em;
}

.phil-extension::before {
content: '';
width: .8em;
height: .8em;
border: 1px solid #ccc;
border-top: none;
border-right: none;
display: block;
transform: rotate(45deg);
position: absolute;
top: 1em;
right: 98%;
background: white;
}

.phil-highlight:hover .phil-extension {
opacity: 1;
}

.phil-comment {
padding: 0 1em;
}